# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform crash log files
crash.log

# Ignore Terraform variable override files
*.tfvars
*.tfvars.json

# Ignore Terraform plan files
*.tfplan

# Ignore directory for Terraform CLI configuration
.terraform/

# Ignore Terraform lock file
.terraform.lock.hcl

# Ignore sensitive data
*.auto.tfvars

# Ignore backup files created by Terraform
*.backup

# Ignore local-only or override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore private key files
*.pem
*.key

# Ignore output files from Terraform validate command
validate.log
